<nav class="navbar navbar-inverse">
  <a class="nav-link" href="#"> <i class="fab fa-twitter-square"></i> </a>
  <a class="nav-link" href="#"> <i class="fab fa-instagram"></i> </a>
  <a class="nav-link" href="#"> <i class="fab fa-facebook"></i> </a>
</nav>