<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <nav>
      <% include ../partials/header.ejs %>
    </nav>
    <h1>Your Basket</h1>
   <div class="container">
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
   
      <ul class="list-group">
          <% for(let i=0; i < store.length; i++){ %>
        <li class="list-group-item">
          <span class="badge"> <%= store.qty %> </span>
          <strong><%= store[i].title %> </strong>
          <span class="label label-success">$<%= store[i].price %></span>
          <div class="btn-group">
            <button class="btn btn-primary btn-xs dropdown-toggle" type="button">Action <span class="caret"></span></button>
           
          </div>
        </li>
        <ul class="dropdown-menu"></ul>
         <li><a href="#">Reduce by 1</a></li>
            <li><a href="#">Remove All</a></li>
            <%}%>
      </ul>
</div>
</div>
<div class="container1">
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <strong>Total: $<%= (totalPrice) %></strong>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
 <button type="button" id="btn1" class="btn">Checkout</button>   
 </div>
  </div>

  
    </div>
</div>

  </body>
</html>

<style type="text/css">
  .container{
    padding-top: 50px;
   
  padding-left: 30%;
  }
  .container1{
    padding-left: 8%; 
  }

ul {
  list-style-type: none;
  text-align: center;
}

h1{
  text-align: center;
  padding-top: 15px;
}


strong{
  margin: auto 0;}

  .btn{
    background-color: pink;
    border: none;
  }
</style>




