<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    
    <div class="container">
        
       <h1>SHOP</h1>
       <ul>
       <img src="<%=store.img%>"/>
       <li><%= store.title %></li>
       <li><%= store.name %> </li>
       <li>$<%= store.price %> </li>
    </div>
   <!-- <ul>
     <li><a href="/portfolio">PORTFOLIO</a></li>
     <li><a href="/About">ABOUT</a></li>
     <li><a href="/shop">SHOP</a></li>
   </ul> -->


  </body>
</html>
