<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    
     <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    
    <div class="container">
          <form  action="/store" method="POST">
            
           img: <input type="text" name="img"/><br/>
            
           
            name: <input type="text" name="name"/><br/>
           
           
            des: <input type="textarea" name="description" /><br/>
           
           
            price: <input type="number" name="price" min="0" step="1" value="0"/><br/>
           
           
            qty: <input type="number" name="qty"  pattern="[0-5]*" min="0" value="0"><br>

            
            about: <input type="textarea" name="about" value=""><br/>
           
            <input type="submit" name="" value="submit">
          </form>
    </div>
   <footer>
   <nav>
      <% include ../partials/footer.ejs %>
    </nav>
</footer>
  </body>
</html>
