<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
     
    
    <div class="container">
          <form  action="/home" method="POST">
            
           Background: <input type="text" name="backgroundImg"/><br/>
            
           
            Title: <input type="text" name="title"/><br/>
           
           
           
            <input type="submit" name="" value="submit">
          </form>
    </div>
   <footer>
   <nav>
      <% include ../partials/footer.ejs %>
    </nav>
</footer>
  </body>
</html>
